diffusers>=0.25.0
matplotlib
scipy
torch==2.4.0
torchvision==0.19.0
transformers>=4.32.1
omegaconf
pandas
tabulate
h5py
opencv-python
tensorboard
wandb
xformers==0.0.27.post2
numpy==1.26.0
timm
webdataset
einops
datasets
accelerate